<header class="wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="repel ontop gutter-s">
    <a href="/it/" class="logo | cluster" {{ indicateActiveHome }}>
      {% svg "misc/logo" %}

      <span class="font-display">{{ meta.siteName }}</span>
    </a>
    <div class="cluster gutter-s">
      {% include "partials/main-nav.njk" %}
      <nav class="cluster gutter-2xs" aria-label="Seleziona lingua">
        {% for language in languages %}
          <a href="/{{ language.code }}/"
             class="button"
             style="--button-padding: var(--space-2xs) var(--space-xs); font-size: var(--size-step-min-1);"
             {% if language.code == (lang or meta.lang) %}aria-current="true"{% endif %}
             hreflang="{{ language.code }}">
            {{ language.code | upper }}
          </a>
        {% endfor %}
      </nav>
    </div>
  </div>
</header>
